.main.user-show
  .container
    .user
      %img(src="/user_images/#{@user.image_name}")
      %h2
        = @user.name
      %p 
        = @user.email
      = link_to "編集", "/users/#{@user.id}/edit"