.main.user-show
  .container
    .user
      %img(src="/user_images/#{@user.image_name}")
      %h2
        = @user.name
      %p 
        = @user.email
      - if @user.id == @current_user.id
        = link_to "編集", "/users/#{@user.id}/edit"
        = link_to "ログアウト", "/logout", method: :post
      - @user.posts.each do |post|
        .posts-index-item
          = link_to post.content, "/posts/#{post.id}", class: "a"