!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BS_MEMO
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__logo
        - if @current_user
          = link_to "BS_MEMO","/posts/index"
        - else
          = link_to "BS_MEMO","/"
      %ul.header__menus
        - if @current_user
          %li 
            = link_to "メモ一覧", "/posts/index"
          -# %li
          -#   = link_to "ユーザー一覧", "/users/index"
          %li
            = link_to @current_user.name, "/users/#{@current_user.id}"
        - else
          %li
            = link_to "ログイン", "/login"
          %li
            = link_to "新規登録", "/signup"

    - if flash[:notice]
      .flash
        = flash[:notice]

    = yield

