!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BS_MEMO
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__logo
        = link_to "BS_MEMO","/"
      %ul.header__menus
        %li 
          = link_to "ユーザー詳細","/posts/index"
    - if flash[:notice]
      .flash
        = flash[:notice]

    = yield
